{
    "output_dir": "/home/spandan/virtualization/coding/rust-maidsafe/maidsafe-packages/deploy",
    "demo_app": {
        "demo_app_project_dir": "/home/spandan/virtualization/coding/rust-maidsafe/maidsafe-examples/safe_examples",
        "build": true
    },
    "safe_launcher": {
        "launcher_project_dir": "some/path",
        "log_toml_path": "some/path",
        "crust_config_path": "some/path",
        "safe_core": {
            "project_dir": "safe/core",
            "relative_target_dir": null,
            "use_nightly": true,
            "clean": false,
            "release_build": true,
            "run_tests": false
        }
    }
}
